article{
    color: cornflowerblue;
}

div{
    height: 144px;
    width: 344px;
    border: 2px solid red;
}
.box{
    border: 10px ridge red;
    margin-top: 10px;
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
    
}
div:hover{
    background-color: blue;
}
.box:hover{
    width: 144px;
    border-radius: 50%;
}
input[type="text"]
{
    height: 140px;
}
a:active{
    color: green;
}
li:nth-of-type(2n+1){
    color: red;
}